<!DOCTYPE html>
<html lang="fr" class="bg-gray-900 text-white">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Score par @hugolgc</title>
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/tailwind.css">
  <style>body { font-family: 'Rubik', sans-serif; }</style>
</head>
<body class="relative h-screen max-w-lg mx-auto flex items-center p-4">
  
  <main class="w-full space-y-16">
    <section class="space-y-4">
      <article v-for="(player, index) in players" :key="index" class="flex items-center space-x-2">
        <div class="flex-auto flex space-x-3 pt-1 pr-1 pb-1 pl-3 bg-gray-800 rounded-lg">
          <textarea v-model="player.name" @click="setServe(index)" @change="setName(index)" class="w-full flex items-center bg-transparent appearance-none resize-none focus:outline-none"></textarea>
          <div class="space-y-1">
            <button @click="setScore(index, true)" class="block h-10 w-9 rounded-md bg-green-600 text-xl focus:outline-none">+</button>
            <button @click="setScore(index, false)" class="block h-10 w-9 rounded-md bg-red-600 text-2xl focus:outline-none">-</button>
          </div>
        </div>
        <div class="flex-none flex items-center text-2xl text-center font-medium">
          <p v-for="(score, stand) in player.scores" :key="stand" :class="['w-9', (player.select === stand) ? 'text-white' : 'text-gray-500', (player.select === stand && player.serve) ? 'underline' : '']" @click="player.select = stand; setData()">{{ (score === null) ? '-' : score }}</p>
        </div>
      </article>
    </section>
    <section class="space-y-4">
      <article v-for="(viewer, index) in viewers" :key="index" class="flex items-center space-x-4 px-3 bg-gray-800 rounded-lg">
        <input v-model="viewer.code" @change="setViewer(index)" type="text" :placeholder="['Code de l’écran ', (index === 0) ? 'joueurs' : 'scores']" maxlength="4" class="h-12 w-full bg-transparent appearance-none focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" :class="['h-6 w-6 flex-none', (viewer.state === 0) ? 'text-red-500' : (viewer.state === 1) ? 'text-yellow-500' : 'text-green-500']" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.111 16.404a5.5 5.5 0 017.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0" />
        </svg>
      </article>
    </section>
  </main>

  <p @click="reset()" class="absolute top-0 right-0 left-0 pt-4 text-gray-500 text-center cursor-pointer">Remettre à zéro</p>
  <a href="https://www.linkedin.com/in/hugolgc/" target="_blank" class="block absolute right-0 bottom-0 left-0 pb-8 text-gray-500 text-center">Créé par @hugolgc</a>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/vue.js"></script>
  <script>

  const Controller = {
    data() {
      return {
        socket: io(),
        code: null,
        viewers: [{
          code: null,
          state: 0
        },
        {
          code: null,
          state: 0
        }],
        players: [{
          name: '',
          scores: [0, null, null],
          serve: true,
          select: 0
        }, 
        {
          name: '',
          scores: [0, null, null],
          serve: false,
          select: 0
        }]
      }
    },
    methods: {
      setScore(index, type) {
        if (type) {
          if (this.players[index].scores[this.players[index].select] === null) this.players[index].scores[this.players[index].select] = 0
          else this.players[index].scores[this.players[index].select] = (this.players[index].scores[this.players[index].select]++ > 29) ? 30 : this.players[index].scores[this.players[index].select]
          this.setServe(index)
        } else {
          if (this.players[index].scores[this.players[index].select] !== null && this.players[index].scores[this.players[index].select]-- < 1) this.players[index].scores[this.players[index].select] = null
        }
        this.setData()
      },
      setServe(index) {
        this.players[index].serve = true
        this.players[index ? 0 : 1].serve = false
        this.setData()
      },
      setName(index) {
        this.setData()
      },
      setViewer(index) {
        this.socket.emit('setViewer', {
          controller: this.code,
          code: this.viewers[index].code,
          type: index
        })
        this.viewers[index].state = 1
        setTimeout(() => {
          if (this.viewers[index].state === 1) this.viewers[index].state = 0
        }, 2000)
      },
      setData() {
        this.viewers.forEach(viewer => {
          if (viewer.code !== null) {
            console.log('Send SetData', viewer.code, this.players)
            this.socket.emit('setData', {code: viewer.code, players: this.players})
          }
        })
      },
      reset() {
        this.players = [{
          name: '',
          scores: [0, null, null],
          serve: true,
          select: 0
        }, 
        {
          name: '',
          scores: [0, null, null],
          serve: false,
          select: 0
        }]
        setData()
      }
    },
    mounted() {
      this.socket.on('setCode', code => {
        if (this.code === null) this.code = code
      })
      this.socket.on('setController', ({ viewer, code, type }) => {
        if (code === this.code) this.viewers[type].state = 2
        this.socket.emit('setData', {code: viewer, players: this.players})
      })
    }
  }

  const app = Vue.createApp(Controller)
  app.mount('body')
  
  </script>
</body>
</html>